<ion-view view-title="Status">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-left item-icon-right" type="item-text-wrap" href="#/tab/dash/1">
        <i class="icon ion-record assertive"></i>
        <h2>Table 1</h2>
        <p>In progress</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
          <!--Close-->
        <!--</ion-option-button>-->
      </ion-item>
      <ion-item class="item-remove-animate item-icon-left item-icon-right" type="item-text-wrap" href="#">
        <i class="icon ion-record balanced"></i>
        <h2>Table 2</h2>
        <p>Free</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
          <!--Close-->
        <!--</ion-option-button>-->
      </ion-item>
      <ion-item class="item-remove-animate item-icon-left item-icon-right" type="item-text-wrap" href="#">
        <i class="icon ion-record balanced"></i>
        <h2>Table 3</h2>
        <p>Free</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
          <!--Close-->
        <!--</ion-option-button>-->
      </ion-item>
      <ion-item class="item-remove-animate item-icon-left item-icon-right" type="item-text-wrap" href="#">
        <i class="icon ion-record balanced"></i>
        <h2>Table 4</h2>
        <p>Free</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
          <!--Close-->
        <!--</ion-option-button>-->
      </ion-item>
      <ion-item class="item-remove-animate item-icon-left item-icon-right" type="item-text-wrap" href="#">
        <i class="icon ion-record balanced"></i>
        <h2>Table 5</h2>
        <p>Free</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
          <!--Close-->
        <!--</ion-option-button>-->
      </ion-item>
      <ion-item class="item-remove-animate item-icon-left item-icon-right" type="item-text-wrap" href="#">
        <i class="icon ion-record balanced"></i>
        <h2>Table 6</h2>
        <p>Free</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
          <!--Close-->
        <!--</ion-option-button>-->
      </ion-item>
      <ion-item class="item-remove-animate item-icon-left item-icon-right" type="item-text-wrap" href="#">
        <i class="icon ion-record balanced"></i>
        <h2>Table 7</h2>
        <p>Free</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
          <!--Close-->
        <!--</ion-option-button>-->
      </ion-item>
      <ion-item class="item-remove-animate item-icon-left item-icon-right" type="item-text-wrap" href="#">
        <i class="icon ion-record balanced"></i>
        <h2>Table 8</h2>
        <p>Free</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
          <!--Close-->
        <!--</ion-option-button>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
